{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 120 %}
    Less than 1 minute read
  {% elsif words < 240 %}
    1 minute read
  {% else %}
    {{ words | divided_by:120 }} minute read
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | strip_html | number_of_words %}
  {% if words < 120 %}
    Less than 1 minute read
  {% elsif words < 240 %}
    1 minute read
  {% else %}
    {{ words | divided_by:120 }} minute read
  {% endif %}
{% endif %}
